    <script src="https://s11.cnzz.com/z_stat.php?id=1261088686&web_id=1261088686"></script>
    <script>
        (function(){
          var bp = document.createElement('script');
          var curProtocol = window.location.protocol.split(':')[0];
          if (curProtocol === 'https') {
              bp.src = 'https://paypal.b0.upaiyun.com/public/js/addon/push_1.js';
          }
          else {
              bp.src = 'https://paypal.b0.upaiyun.com/public/js/addon/push_2.js';
          }
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(bp, s);
        })();
    </script>

    <div id="backtoTop" data-action="gototop"><canvas id="backtoTopCanvas" width="36" height="36"></canvas><div class="per"></div></div>
    </body>